body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: $color-grey-light;
  overflow: auto;
}

header .logo a {
  display: block;
}

header nav.main-nav ul.main-nav-links {
  list-style: none;
}
