$size-header-logo: 140px;

.container {
  width: $breakpoint-desktop;
  overflow: auto;
  margin: 0 auto;
}

header .logo {
  display: block;
  float: left;
  width: 40%;
  height: $size-header-logo;
}

header .logo img.logo-image {
  width: $size-header-logo;
  height: $size-header-logo;
}

header nav.main-nav ul.main-nav-links {
  width: 60%;
  height: $size-header-logo;
  float: right;
}

header nav.main-nav ul.main-nav-links li {
  display: inline-block;
  font-size: 150%;
}

header nav.main-nav ul.main-nav-links li a {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
}

header nav.main-nav ul.main-nav-links li a:hover {
  text-decoration: underline;
}

section.content {
  float: left;
  padding-right: 80px;
  width: calc(70% - 80px);
}

aside.sidebar {
  float: right;
  padding: 0 50px;
  width: calc(30% - 100px);
  background: $color-grey-regular;
}

footer {
  margin: 20px 0;
  clear: both;
}
