body {
  margin: 0; }

ul {
  padding-inline-start: 0; }

body {
  font-family: 'Roboto', sans-serif; }

header {
  background-color: #ebebeb; }

header nav.main-nav ul.main-nav-links {
  list-style: none; }

@media only screen and (min-width: 769px) {
  .container {
    width: 960px;
    background: pink;
    overflow: auto;
    margin: 0 auto; }
  header .logo {
    display: block;
    float: left;
    width: 40%;
    height: 140px;
    background: red; }
  header .logo img.logo-image {
    width: 140px;
    height: 140px; }
  header nav.main-nav ul.main-nav-links {
    width: 60%;
    height: 140px;
    float: right;
    background: yellow; }
  header nav.main-nav ul.main-nav-links li {
    display: inline-block;
    font-size: 150%; }
  header nav.main-nav ul.main-nav-links li a {
    display: block;
    padding: 20px 30px;
    text-decoration: none; }
  header nav.main-nav ul.main-nav-links li a:hover {
    text-decoration: underline; } }
